@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  margin:0; 
  padding:0; 
  box-sizing: border-box;
  font-family:var(--font-family);
}

:root{ 
  --bg-grad: linear-gradient(180deg, #101B8F 62.65%, rgba(16, 27, 143, 0) 100%);
  --bold-font-weight:700; 
  --btn-padding:12px 54px; 
  --font-family:'Montserrat', sans-serif; 
  --paginate-num:'Poppins', sans-serif;
  --big-title:3.4rem; 
  --nav-font-size:1.38rem; 
  --btn-font-size:2rem; 
  --small-para:1.5rem; 
  --btn-border-rad:24px;
  --btn-bg:#f77106; 
  --sub-heading-font-size:2rem;
  --section-heading-font-size:3.25rem; 
  --sub-heading-font-color:#101B8F;
  --img-float-sqr:#649300;
  --medium-font-weight:600; 
  --para-font-size:1.25rem; 
  --small-para-font-size:1rem; 
  --medium-para-font-size:1.19rem;
  --para-weight:400; 
  --motto-font-size:1.38rem;
  --team-font-size:1.5rem; 
  --subscribe-button-padding:5px 16px;
}

::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: var(--btn-bg);
 }
  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: .5rem; }
    ::-webkit-scrollbar-thumb:hover {
      background-color: var(--img-float-sqr);
     }

.container{ 
    width:90%; 
    max-width:1440px;
    margin:0 auto
}

img{ 
  width:100%; 
  height:auto; 
}

a{ 
  text-decoration:none; 
}

li{
  list-style: none;
  }

  /* button styling starts*/

.btn{ 
  cursor:pointer;
  font-size:var(--btn-font-size);
  font-weight:var(--bold-font-weight); 
  color:#fff;
  border-radius: var(--btn-border-rad);
  border:none;
}
.btn:hover{
  background:white;
  color:#000;
}
/* button bgcolor orange */
.orange{ 
  padding:var(--btn-padding);
  background:var(--btn-bg)
}

/* button bgcolor white */
.bg-white{
  background:white;
  color:var(--btn-bg);
  font-size:1rem;
  padding:6px 30px;
}

.absolute{ 
  position:absolute; 
  top:-2rem;
  right:0;
}


.reduce_padding{ 
  padding:12px 28px;
}

/* button styling ends */


.header_hero{ 
  height:900px; 
  background:var(--bg-grad); 
  position:relative;
}


header{ 
  position:relative; 
  background:var(--sub-heading-font-color);
  padding:50px 0;
}
.header_wrap{ 
  display:flex; 
  flex-direction:row; 
  flex-wrap:wrap; 
  justify-content: space-between;
  align-items:center;
}

.header_img{ 
  width:25%;
}

.nav-btn{ 
  display:flex; 
  flex-direction:row; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  gap:88px;
}
ul.nav{ 
  display:flex; 
  flex-direction:row; 
  flex-wrap:wrap; 
  justify-content: space-between;
  gap:59px;
}
.nav_link{ 
  color:#fff; 
  font-weight:var(--bold-font-weight);
}

.nav_link:hover{ 
  color:var(--btn-bg)
}
.mobileNav{
  color:#fff;
  font-size:3rem;
  cursor:pointer; 
  display:none;
}

.hero{ 
  background:var(--bg-grad);
  height:800px;
  padding-top:88px; 
  padding-bottom:62px;
}
.hero_wrap{ 
  display:flex; 
  flex-direction:row; 
  gap:6%; 
}

.hero_banner{ 
  width:48%; 
  align-self:center;
 }

.banner__heading{ 
  font-size:var(--big-title); 
  font-weight:var(--bold-font-weight); 
  color:#fff; 
  line-height:65px;
  margin-bottom:24px; 
}
.banner__para{
  color:#fff; 
  font-size:var(--small-para);
  line-height:29px;
  margin-bottom:75px;
}

.hero_img{ 
  align-self:center;
  position:relative;
  width:44%
}
.hero-display{ 
  border:5px solid #fff;
  /* width:570px; */
  z-index:1;
  position:relative;
}
.flt-rect{ 
  z-index:10;
  position:absolute; 
  height:60px;
  left:-7%;
  top:12%;
  width:105px; 
  background:var(--btn-bg);
}

.hero-back-sqr{ 
  width:25rem;
  height:17.6rem;
  bottom:-4%;
  left:30%; 
  border: 6px solid var(--btn-bg); 
  position:absolute;
}

/* mission-vision section */

.mis_vis_wrap{ 
  display:flex; 
  flex-direction:row; 
  justify-content: center;
  gap:15%;
  padding-top:75px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:110px;
  text-align: center;
}
.mis_vis_wrap > div{ 
  width:40%;
  display:flex; 
  flex-direction:column; 
  justify-content: center;
  
}
.mis_vis-heading{ 
  font-size:var(--sub-heading-font-size);
  color:var(--sub-heading-font-color);
  margin-bottom:15px;
}
.mis-vis-img{
  position:relative;
}
span.mis-vis-backsqr{ 
  position:absolute; 
  width:12.5rem; 
  max-width:12.5rem;
  height:16.87rem;
  top:-3%; 
  right:-3%;
  border:2px solid var(--sub-heading-font-color);
  z-index:-5;
}
span.mis-vis-fltsqr{
  position:absolute;
  width:6.25rem; 
  height:5.63rem; 
  background:var(--sub-heading-font-color);
  bottom:14%;
  left:-10%;
}

.mis_vis-para{ 
  font-size:var(--para-font-size);
  margin-top:28px;
  line-height:24px;
  font-weight:var(--para-weight)
}

.vis-backsqr-left{ 
  left:-3%;
  border:2px solid var(--btn-bg) !important;
}
.vis-fltsqr-right{ 
  left:89% !important;
  background:var(--btn-bg) !important;
  
}


/* we need section */

h2.we-need_heading{ 
  font-family:var(--font-family); 
  color:var(--sub-heading-font-color); 
  font-size:var(--section-heading-font-size); 
  font-weight:var(--bold-font-weight);
  margin-bottom:85px; 
}

.we-need_wrap{
  position:relative; 
  display:flex; 
  flex-direction:row;
  padding:0 40px;
  gap:70px;
}
.back-sqr{ 
  border:4px solid var(--btn-bg); 
  z-index:-20; 
  width:67%;
  height:173px;
  transform:translateX(149px);
  position:absolute;
  top:-4%;
}

.need-item{ 
  width:33.3%; 
  position:relative;
}

.need-img{ 
  z-index:-20;
}

.white-sqr{ 
  width:89%; 
  background:#fff; 
  position:absolute;
  top:-2%;
  left:-2%;
  height:240px;
  max-height:15rem;
  z-index:-10;
}

.flt-sqr{ 
  position:absolute; 
  height:60px; 
  width:50px;
  top:8%;
  right:-7%; 
}

.sqr-db{ 
  background:var(--sub-heading-font-color);
}

.sqr-og{ 
  background:var(--btn-bg);
}

.sqr-gn{ 
  background:var(--img-float-sqr)
}

.para-btn-wrap{ 
  border-radius:19px 19px 0 0;
  position:relative; 
  margin:0 auto;
  width:90%;
  margin-top:-28px;
  z-index:9999;
  background:#fff;
  padding:12px 25px;
}

.need-para{ 
  font-size:14px; 
  font-family:var(--font-family); 
  line-height:17px; 
  margin-bottom:20px;
  font-weight:var(--para-weight)
}
.dnte-link{ 
  color:var(--btn-bg);
  text-decoration: underline;
  font-size:16px;
  font-weight:var(--medium-font-weight)
}


/* blog section */

.blog{ 
  margin: 45px 0;
  padding:30px 0;
}
.blog-heading{ 
  font-family:var(--font-family); 
  font-size:var(--section-heading-font-size); 
  font-weight: var(--bold-font-weight);
  color:var(--sub-heading-font-color);
}
.blog-vert{ 
  width:14%; 
  border:2px solid var(--sub-heading-font-color);
}
.blog-wrap{ 
 padding:48px 70px;
  display:flex; 
  flex-wrap:wrap; 
  flex-direction:row;
  gap:60px;
  justify-content: center;
}

.blog-content{ 
  display:flex; 
  border:1px solid red;
  gap:28px;
  height:145px; 
  width:369px;
  border:1px solid rgba(206, 206, 206, 0.7);
  flex-direction:column; 
  border-radius:10px;
  padding:24px 30px;
  transition: all .5s ease;
  overflow:hidden;
}

.blog-content:hover{
  border: 1px solid rgba(16, 27, 143, 0.4);
  border-radius:0;
}

.blog-link{ 
  font-size:var(--nav-font-size); 
  font-family:var(--font-family);
  color:var(--sub-heading-font-color);
  font-weight:var(--bold-font-weight);
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.blog-link:hover{ 
  color:#000;
}

small.date-posted{ 
  font-size:12px; 
  font-family:var(--font-family);
  font-weight:300;
}

.blog-paginate{ 
  display:flex; 
  flex-direction:row;
  justify-content: center; 
  flex-wrap:wrap;
 
}
.paginate-wrap{ 
  display:flex; 
  flex-direction:row; 
  gap:20px;
}

.prev, .next{ 
  color:var(--btn-bg); 
  font-size:22px;
  align-self:center;
}

.paginate-num { 
  font-family:var(--paginate-num); 
  font-size:18px; 
  color:var(--btn-bg);
  /* display:flex;  */
  align-self:center;
}
.pagi-active{ 
  text-decoration: underline;
}



/* our team */

section.our-team{ 
  padding:40px 30px;
}

h2.team-heading{ 
  color:var(--sub-heading-font-color); 
  font-size:var(--section-heading-font-size); 
  font-family: var(--font-family);
  font-weight:var(--medium-font-weight); 
  text-align:center;
  margin-bottom:40px;
}

.team-wrap{
  display:grid; 
  grid-template-columns: repeat(4, 1fr);
  gap:38px;

}

.team-wrap > article{ 
  text-align:center;
  position:relative;
  /* width:230px;  */
  /* height:300px; */
}

.team-img{ 
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 10px;  
}

.team-backsqr{ 
  position:absolute; 
  height:13.5rem;
  top:-3%; 
  left:-4%; 
  z-index:-1;  
  width:13.25rem;
  max-width:13.25rem; 
  border:2px solid var(--btn-bg);
}

.team-backsqr_blue{ 
  border:2px solid var(--sub-heading-font-color)!important;
}
h6.team-name{ 
  font-size:var(--small-para); 
  font-family: var(--font-family);
  color:var(--sub-heading-font-color);
  text-align:center;
  font-weight:var(--bold-font-weight);
  margin-bottom: 5px;
}
small.team-post{ 
  font-size:var(--para-font-size); 
  color:var(--sub-heading-font-color); 
  font-family: var(--font-family);
  font-weight:500;
} 


/* blogdetails */




.details-wrap{ 
  position:relative;
  padding:4rem 1rem;
  

}
.details-heading{ 
  font-size:21px; 
  font-weight:700;
  color:#2B0C83;
  padding-bottom:1.2rem;
  
}

.details-para{ 
  font-family:'times new roman', sans-serif;
  font-style: italic;
  font-size:19px; 
  padding:0 7rem;
  line-height:1.7rem;
  padding-bottom:4rem;
}

.details-img{ 
  width:100%; 
  display:flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  gap:2.7rem;
  padding: 0 7rem;
  
}
.details-img img{ 
  width:40%;
}



/* footer */

footer{ 
  position:relative;
  background:var(--sub-heading-font-color); 
  margin-top:3rem;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}
.footer-wrap{ 
  position:relative;
  display:flex; 
  flex-direction:row; 
  justify-content:space-between;
  gap:45px;
  padding:70px 0;
}
.footer-icons{ 
  display:flex; 
  flex-direction:row; 
  gap:25px; 
  margin-top:30px;
  
}
.social-icons{ 
  font-size:1.4rem;
  color:#fff; 
}
.links-heading{ 
 color:#fff; 
 font-size:var(--motto-font-size);
 font-weight:var(--medium-font-weight); 
 font-family:var(--font-family);
 margin-bottom:10px;  
}
.footer-link{ 
  margin-bottom:8px;
}
.footer-link:last-child{ 
  margin-bottom:0;
}
.footer-link_list{
  color:#fff; 
  font-size:var(--para-font-size);
  font-weight:var(--para-weight);
}

/* .footer-contact_form{ 
  border:1px solid red;
} */


.form-para{ 
  color:#fff;
  font-size:var(--para-font-size); 
  font-weight:var(--medium-font-weight);
  margin-bottom:16px;
}

form{ 
  display:block;
}

input, textarea{ 
  border:none;
  font-size:1rem;
  color:#fff;
}

.form-field::placeholder{ 
  color:#fff; 
  font-size:1rem;
  font-family:var(--font-family);
}

.form-field{
  display:block;
  width:280px;
  border-bottom:1px solid #fff; 
  background:none;
  resize: none;
  margin-bottom:15px;
}


.footer-addy > small{ 
  display:block;
  color:#fff;
  margin-bottom:20px;
  font-size:var(--small-para-font-size);

}
.org_phone, org_email{ 
  font-weight:var(--para-weight)
}
.org_addy{
  font-weight:var(--medium-font-weight);
}
.scrollUp{
  right: .7rem;
  position: fixed;
  background: #fff;
  padding: .4rem;
  font-size: 2rem;
  bottom: 3.3rem;
  color: var(--btn-bg);
  border-radius: .8rem;
  cursor:pointer;
  display:none
}
.show-scrollUp{ 
  display:block;
}













/* media queries */


@media screen and (max-width:1024px){ 
  ul.nav{
    flex-direction: column;
    align-content:center; 
    margin-bottom: 1.5rem; 
  }
  .nav-btn{ 
    display:none;
    border:1px solid #fff; 
    position:absolute;
    top:1rem;
    background:#3841a6;
    border-radius:.4rem;
    padding:2.4rem 1rem;
    animation: showNav .3s ease-in;
    /* animation-name:showNav;
    animation-duration: 4s; */
    /* transition:all 3s ease-in; */
  }
  .nav-active{ 
    animation: showNav .3s ease-in;
    display:block;
  }
  .mobileNav{
    display:block;
  }

  @keyframes showNav{ 
    from { 
        transform: translateX(-259px);
    }
    to { 
      transform: translateX(0px);
    }
  }
 .hero{ 
    height:600px;
  }
 
  .banner__heading{ 
    font-size:42px; 
    line-height:49px;
  }
  .banner__para{ 
    font-size:14px; 
    margin-bottom:32px;
    line-height:20px;
  }
  span.hero-back-sqr{ 
    width:275px; 
    height:204px; 
    left:36%; 
  }
  span.back-sqr{ 
    width:68%; 
    transform:translateX(111px);
  }
  span.flt-sqr{ 
    right:-8%; 
    height:50px; 
    width:40px;
  }
  span.mis-vis-backsqr{ 
    width:10.5rem; 
    max-width:10.5rem;
    height:11.87rem;
  }
  span.mis-vis-fltsqr{ 
    width:4.25rem;
    height:4.63rem;
  }
  /* p.need-para{ 
    font-size:.6rem;
  } */
  .blog-wrap{ 
    flex-wrap:nowrap;
  }

  section.our-team{
    padding:40px 70px;
  }
  .team-wrap{ 
    grid-template-columns:repeat(2, 1fr);
    gap:6.75rem;
  }
  span.team-backsqr{ 
    height:16.81rem; 
    width:17.25rem;
    max-width:17.25rem;
  }
  h6.team-name{ 
    font-size:var(--sub-heading-font-size)
  }
  .footer-wrap{ 
    flex-wrap:wrap;
  }
}


@media screen and (max-width:768px) { 
  .container { 
    width:85%;
  }
  .hero{ 
    overflow:hidden;
    height:1250px;
  }
  .hero_wrap{ 
    gap:80px;
    flex-direction:column;
  }
  /* .hero_banner{ 
    grid-column:1/5
  }*/
  .hero_img{ 
    width:auto;
    align-self:center;
  } 

  .hero-display{ 
    width:550px;
  }

  .hero_banner{ 
    width:initial;
  }

  .hero_img{ 
    width:auto;
  }

  span.hero-back-sqr{ 
    width:23.87rem; 
    height:17.5rem;
    left:35%;
  }

  .banner__heading{ 
    font-size:56px; 
    line-height:69px;
  }
  .banner__para{ 
    margin-bottom:72px;
    font-size:25px;
    line-height:30px;
  }

  section.mis_vis_wrap{ 
    flex-direction:column;
    gap:80px;
  }
  .mis_vis_wrap > div{ 
     width:auto;
  }
  span.mis-vis-fltsqr{ 
    left:-5%;
  }
  span.vis-fltsqr-right{ 
      left:94% !important;
  }
  .back-sqr{ 
    display:none;
  }
  .we-need_wrap{
    flex-direction: column;
  }
  .need-item{ 
    width:auto;
  }
  span.flt-sqr{ 
    right:-6%; 
    height:90px; 
    width:80px;
  }

  section.our-team{ 
    padding:85px 70px;
  }
  .team-wrap{ 
    grid-template-columns: 1fr;
  }
  span.team-backsqr{ 
    height:25.81rem; 
    width:25rem;
    max-width:25rem;
  }
  h6.team-name{ 
    font-size:var(--section-heading-font-size)
  }
  small.team-post{ 
    font-size:var(--team-font-size)
  }

  .footer-wrap{
    flex-direction: column;
  }
  .footer-logo-addy{
    width:60%;
  }
}

@media screen and (max-width:425px){

  .header_img{ 
    width:45%;
  }
  .hero{ 
    height:47.5rem;
  }
  .hero-display{ 
    width:16.87rem;
  }

  .flt-rect{ 
    width:4rem;
    height:2.7rem;
  }
  span.hero-back-sqr{ 
    width:11.87rem;
    height:9.5rem;
  }
  .btn{ 
    font-size:.7rem;
  }

  .reduce_padding{ 
    padding:5px 12px;
  }

  h2.banner__heading{ 
    font-size:31px; 
    line-height:39px;
  }

  .banner__para{ 
    font-size:.8rem;
    margin-bottom:22px;
    line-height:1.2rem;
  }
  
  span.mis-vis-fltsqr{ 
    width:3.25rem;
    height:3.45rem;
    left:-9%;
  }
  span.vis-fltsqr-right{
    left:91% !important;
  }
  .mis_vis-para{ 
    font-size:.8rem; 
    line-height:1.3rem;
  }

  h2.we-need_heading{ 
    font-size:2.45rem;
  }
  
  span.flt-sqr{
    right:-9%;
    height:2.63rem;
    width:2.63rem;
  }
  .need-para{ 
    font-size:.7rem;
  }

  h2.blog-heading{ 
    font-size:2.1rem;
  }
  .blog-vert{
    width:26%;
  }

  section.our-team{
    padding:0;
  }
  h6.team-name{
    font-size: 2.25rem;
  }
  span.team-backsqr{
    height:17.81rem;
    width:19rem;
  }
  h2.team-heading{
    font-size:2.1rem;
  }
  .absolute{
    top:-1rem;
  }
}