*{
  margin:0; 
  padding:0; 
  box-sizing: border-box;
}

:root{ 
  --bg-grad: linear-gradient(180deg, #101B8F 62.65%, rgba(16, 27, 143, 0) 100%);
  --bold-font-weight:700; 
  --btn-padding:12px 54px; 
  --font-family:'montserrat', san-serif; 
  --big-title:58px; 
  --nav-font-size:22px; 
  --btn-font-size:32px; 
  --small-para:24px; 
  --btn-border-rad:24px;
  --btn-bg:#f77166; 
  --sub-heading-font-size:32px;
  --section-heading-font-size:52px; 
  --sub-heading-font-color:#101B8F;
  --medium-font-weight:600; 
  --para-font-size:20px; 
  --small-para-font-size:16px; 
  --medium-para-font-size:19px;
  --para-weight:400; 
  --motto-font-size:22px;
  --team-font-size:24px; 
  --subscribe-button-padding:5px 16px;
  --footer-nav-font-size:22px;
}

.container{ 
    width:90%; 
    max-width:1440px;
    margin:0 auto
}

img{ 
  width:100%; 
  height:auto; 
}

a{ 
  text-decoration:none; 
}

li{
  list-style: none;
  }

.btn{ 
  cursor:pointer;
  font-size:var(--btn-font-size);
  font-weight:var(--bold-font-weight); 
  color:#fff;
  border-radius: var(--btn-border-rad);
}
.btn:hover{
  background:white;
  color:#000;
}
/* button bg color orange */
.orange{ 
  padding:var(--btn-padding);
  border:none; 
  background:var(--btn-bg)
}

.header_hero{ 
  height:900px; 
  background:var(--bg-grad); 
  position:relative;
}

header{ 
  display:relative; 
  background:var(--sub-heading-font-color);
  padding:50px 0;
}
.header_wrap{ 
  display:flex; 
  flex-direction:row; 
  flex-wrap:wrap; 
  justify-content: space-between;
  align-items:center;
}

.header_img{ 
  width:25%;
}

.nav-btn{ 
  font-family:'montserrat', sans-serif;
  display:flex; 
  flex-direction:row; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  gap:88px;
}
ul.nav{ 
  display:flex; 
  flex-direction:row; 
  flex-wrap:wrap; 
  justify-content: space-between;
  gap:59px;
}
.nav_link{ 
  color:#fff; 
  font-weight:var(--bold-font-weight);
}

.nav_link:hover{ 
  color:var(--btn-bg)
}






/* media queries */


@media screen and (max-width:1024px){ 
  .nav-btn{ 
    display:none;
  }
}